
<div class = "row" >
    <h2 class="mb-5"> Bienvenido {{username}}</h2>
</div>

<div *ngIf="rol === 'PROTECTORA'">
<div class = "row">
    <h2> Bienvenido {{protectoras.nombre}}</h2>
</div>

<table class = "table table-striped table-bordered">
    <thead>
        <tr>
            <th>Username</th>
            <th>nombre</th>
            <th>telefono</th>
            <th>direccion</th>
            <th>email</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> {{username}} </td>
            <td> {{protectoras.nombre }} </td>
            <td> {{protectoras.telefono }} </td>
            <td> {{protectoras.localidad }} </td>
            <td> {{protectoras.email }} </td>
            <td>
                <!-- <button [routerLink]="['update-mascota', mascota.id]" class="btn btn-primary">Update</button>
                <button (click) = "deleteMascota(mascota.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button> -->
                <button [routerLink]="['mascota-details', protectoras.id]" class="btn btn-primary">Detail</button>

            </td>
        </tr>
    </tbody>
</table>
</div>
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button routerLink="/" class="nav-link bg-warning text-light" >Inicio</button>
      <button class="nav-link active bg-warning text-light" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Perfil</button>
      <button class="nav-link bg-warning text-light" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Animales Donados</button>
      <button class="nav-link bg-warning text-light" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Animales Adoptados</button>

    </div>
  </nav>
  <div class="tab-content h-100" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div *ngIf="rol === 'USUARIO' || rol === 'ADMIN' && rol !== ''">
          <div class="" *ngFor= "let usuario of usuariodatos">
            <fieldset class="row col-md-6 prueba" disabled>
               <h2 class="mt-3">Mis datos</h2>
                  <div class="col-md-6">
                    <label for="nombre" class="form-label "> Nombre</label>
                    <input type="text" class="form-control disable" id="nombre" name="nombre" [(ngModel)]="usuario.nombre">
                  </div>
                  <div class="col-md-6">
                    <label for="telefono" class="form-label "> Telefono</label>
                    <input type="text" class="form-control" id="telefono"  name="telefono" maxlength="9" [(ngModel)]="usuario.telefono">
                  </div>
                  <div class="col-md-6">
                    <label for="direccion" class="form-label"> Dirección</label>
                    <input type="text" class="form-control" id="direccion" [(ngModel)]="usuario.direccion">
                  </div>
                  <div class="col-md-6">
                    <label for="email" class="form-label "> Correo Electronico</label>
                    <input type="text" class="form-control" id="email" [(ngModel)]="usuario.email">
                  </div>
                  <div class="col-12">
                    <label for="dni" class="form-label ">Address</label>
                    <input type="text" class="form-control" id="dni" [(ngModel)]="usuario.direccion">
                  </div>

                  <div class="col-md-4">
                    <label for="tipo" class="form-label">Animal Favorito</label>
                    <input type="text" class="form-control" id="tipo" [(ngModel)]="usuario.preferenciaTipoAnimal">
                  </div>
                  <div class="col-md-4">
                    <label for="tipoSexo" class="form-label">Sexo del Animal</label>
                    <input type="text" class="form-control" id="tipoSexo" [(ngModel)]="usuario.preferenciaSexo">
                  </div>
                  <div class="col-md-4">
                    <label for="tamanyo" class="form-label">Tamaño del Animal</label>
                    <input type="text" class="form-control" id="tamanyo" [(ngModel)]="usuario.preferenciaTipoTamanyo">
                  </div>
                </fieldset>
                <div>
                  <button [routerLink]="['update-usuario', usuario.id]" class="btn btn-primary prueba col-md-6 ms-3 mt-3 mb-3">Actualizar Usuario</button>
                  <button [routerLink]="['animalCrear']" class="btn btn-primary">Añadir animal</button>
                </div>
          </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <div *ngIf="rol === 'USUARIO' || rol === 'ADMIN' && rol !== ''">
        <h2>Lista de animales donados</h2>
        <table class = "table table-striped table-bordered">
          <thead>
          <tr>
            <th>imagen</th>
            <th>nombre</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor= "let usuario of animalesdonados">
            <img width="100px" [src]="usuario.imagenUrl">
            <td> {{usuario.nombre }} </td>
          </tr>
          </tbody>
        </table>

        <div class="contener">
          <div class="cartita">
              <img src="../../../assets/imagenes/adopcion/conejo.jpg" alt="holi" class="imagensita">
              <div class="intro">
                <h1>Nombre animal</h1>
                <p>posibles datos del animal en lista</p>
              </div>
          </div>
          <div class="cartita">
            <img src="../../../assets/imagenes/adopcion/conejo.jpg" alt="holi" class="imagensita">
            <div class="intro">
              <h1>Nombre animal</h1>
              <p>posibles datos del animal en lista</p>
            </div>
        </div>
        <div class="cartita">
          <img src="../../../assets/imagenes/adopcion/conejo.jpg" alt="holi" class="imagensita">
          <div class="intro">
            <h1>Nombre animal</h1>
            <p>posibles datos del animal en lista</p>
          </div>
        </div>
        </div>




      </div>
    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        <div *ngIf="rol === 'USUARIO' || rol === 'ADMIN' && rol !== ''">
        <h2>Lista de animales Adoptados</h2>
        <table class = "table table-striped table-bordered">
          <thead>
          <tr>
            <th>imagen</th>
            <th>nombre</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor= "let animal of animalesAdoptados">
            <img width="100px" [src]="animal.imagenUrl">
            <td> {{animal.nombre }} </td>
          </tr>
          </tbody>
        </table>
     </div>
    </div>
  </div>
