.prueba{
    margin-top: 5rem;
    margin-left: 25rem !important;
    backdrop-filter: blur(15px);
    border-radius: .8rem;
}

.contener{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.imagensita{
    height: 200px;
}
